.App {
  text-align: center;
}

.App-Question {
  background: url('./images/pixel.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: #FCF5EE;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0;
  gap: 5vh;

}

p {
  margin: 0;
}

.question {
  font: 1.5em 'Pixel-Code';
  color: #FFCCFC;
}