.App {
  text-align: center;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left-half {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
}

.right-half {
  background-color: #C0D6E8;
  position: absolute;
  right: 0px;
  top: auto; 
  width: 50%;
  height: 100%;
}